<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>canvas动画</title>
<meta name="keywords" content="canvas动画" />
<meta name="description" content="canvas动画" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="telephone=no,email=no" name="format-detection" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/inc/swiper.min.css">
</head>
<body>
	<div class="html_auto">
		<canvas id="myCanvas"></canvas>
	</div>
</body>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="canvas_1"></script>
</html>
